/*Css for modal */ 

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}
#close {
    position:absolute;
    background:url(../images/close.png) 0 0 no-repeat;
    width:30px;
    height:30px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}
/*End css for modal*/

/*Css for welcome screen*/
.button{
  width:100px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

#login{
  max-width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#login #triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login #login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

#login form{
  background:#f0f0f0;
  padding:6% 4%;
}
#login input[type="text"]{
    width:92%;
    }
#login input[type="email"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;

  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

#login input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
#login input[type="submit"]:hover{
  background:#2288bb;
}
#login .errorSummary ul{
	color:red;
	font-weight:bold;
}
.tilte_login,.errorSummary{
    text-align: center;
}
/*End Css for welcome screen*/
.register-users{
    max-width: 300px;
}
.register-users .row{
    margin-left: 0;
    margin-right: 0;
}
.register-users .row input{
    width: 100%;
}
.register-users .row input[type="submit"]{
    width:100%;
    background:#3399cc;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

.success {
    text-align: center;
    color: green;
}
.errorSummary{
    color: red;
}
.righttoleft .row input{
    text-align: right;
}
.righttoleft .row input[type="submit"]{
    text-align: center;
}
